@model mk866815MIS4200.Models.Grade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gradeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gradeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gradeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
